@model AllRecipesQueryModel

@{
    ViewBag.Title = "Search Recipes";
}

<form method="get">
    <div class="row mb-3">
        <div class="form-group col-md-4">
            <label asp-for="RecipeCategoryId"></label>
            <select asp-for="RecipeCategoryId" class="form-control">
                <option>--Всички--</option>
                @foreach (var category in Model.RecipeCategories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Какво Ви се хапва?">
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>LastAdded</option>
                <option value="1">MostLiked</option>
                <option value="2">IngredientsCount</option>
            </select>
        </div>
    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalRecipes / AllRecipesQueryModel.RecipesPerPage);
}

<div class="row mb-3">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Recipes"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-recipeCategoryId="@Model.RecipeCategoryId"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? " disabled" : string.Empty)"
           asp-controller="Recipes"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-recipeCategoryId="@Model.RecipeCategoryId"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<h2 class="text-center">All Recipes</h2>
<div class="row">
    @foreach (var recipe in Model.Recipes)
    {
    <div class="col-md-4">
        <div class="card mb-3" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.PictureUrl" alt="@recipe.Name @recipe.RecipeCategory @recipe.CookingTime @recipe.Likes">
            <div class="card-body">
                <h5 class="card-title">@recipe.Name</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">Приготвяне: @recipe.CookingTime мин.</small>
                <br />
                <small class="text-muted">Харесвания: @recipe.Likes</small>
                <br />
                <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
    }
</div>



